{% extends 'layout.html' %}

{% block mlistcontent %}
<br>
    <div class="jumbotron" >
        <h1> Welcome to Marklist Generator</h1>
    </div>

    <p>Dear User,<br><br>
            This is a Online Mark List Generating Platform. This is Very Easy to Use . Implemented with a user friendly Design.
            <br><br>
            This Web Application contains some fields to get the values from the user, we uses some fields like 
            <ul>
              <li>Name</li>  
              <li>Register Number</li>
              <li>Semester</li>
              <li>Four Subject Names</li>
              <li>Marks Obtained for that Subjects</li>
              <li>Total Marks of that Subjects</li>
            </ul>
              </p>
        <br><br>
    <!-- <p style="text-align: right"><i><b>Proceed-</b></i></p> -->
{% endblock %}